:root {
  --card-color: white;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #1f2223;
}

* {
  font-family: "Cascadia Code", "Cascadia Mono", "Consolas", "Menlo", "Monaco",
    monospace;
}
