div#toolbar {
  & > #file-explorer {
    min-width: 150px;
  }
}

aside {
  width: 380px;
  margin: 15px;

  & > #input-area {
    width: 100%;
    height: 5em;
  }

  & > #stage {
    white-space: normal;

    & > .miniCard {
      position: absolute;
      display: inline-block;

      padding: 0.5em;
      margin: 5px;
      vertical-align: middle;
    }
  }
}

#topic {
  position: fixed;
  left: 55%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
